#This is a sample configuration file.
#Name of this actor
BarnActor
#Location of this actor
Barn
#Docussandra URL
http://localhost:8081
#Start of Ability Descriptions -- note, these will only be used for inital registration; the server will always override
MainAir 7 HIGH OFF
HouseAir 0 HIGH OFF
EquipmentBreaker 2 HIGH OFF
AirCompressor 3 HIGH OFF
